:root {
  --color-purple: #645ec0;
  --color-dark-alt: #2c2c37;
  --color-light: #ffffff;
  --color-dark: #24242f;
  --color-blue: #6dc1e2;
  --color-light-green: #88dcb0;
  --color-light-gray: #818492;
  --color-dark-gray: #504f59;

  --font-family-base: 'Kumbh Sans', sans-serif;
}
